.about {
  height: 100vh;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #07090e;
  color: white;
}

.about h2 {
  margin: 0;
  font-size: 48px;
  margin-bottom: 80px;
}

.about-content {
  display: flex;
  width: 75%;
  justify-content: space-between;
}

.about h3 {
  font-size: 30px;
}

.about p {
  font-size: 18px;
  color: rgb(216, 216, 216);
}

.white-span {
  color: white;
  font-weight: 600;
}

.blue-span {
  color: #5f76e7;
  font-weight: 600;
}

.about .me {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.skills {
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: space-between;
}

.skill-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: #324abd;
  border-radius: 8px;
  padding: 8px;
  font-size: 18px;
}

.skills-bubbles {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.contact-btn {
  border: none;
  background: #5f76e7;
  border-radius: 9999px;
  border: solid transparent 2.5px;
  color: white;
  font-size: 18px;
  padding: 15px;
  cursor: pointer;
  transition: 100ms all;
}

.contact-btn:hover {
  background: transparent;
  border: solid 2.5px #324abd;
  transform: scale(1.05);
}

.contact-btn a {
  text-decoration: none;
  color: white;
}

@media (max-width: 769px) {
  .about {
    height: auto;
  }

  .about-content {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .about .me {
    width: 80%;
  }

  .about .skills {
    width: 80%;
  }

  .skills-bubbles {
    justify-content: center;
    margin-bottom: 4vh;
  }
}
