.contact h2 {
  margin: 0;
  font-size: 48px;
  margin-bottom: 25vh;
}

.contact {
  text-align: center;
  height: 85vh;
  background: linear-gradient(200deg, #07090e 40%, 80%, #4259cd);
  color: white;
}

.contact-mail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-mail a {
  color: white;
  font-size: 28px;
}

.contact p {
  font-size: 28px;
}

#contact {
  scroll-behavior: smooth;
}
