.home {
  height: 100vh;
  background: transparent;
  display: flex;
  justify-content: center;
  background: linear-gradient(25deg, #07090e 45%, 80%, #4259cd);
  color: white;
}

.home h2 {
  margin: 0;
  font-size: 72px;
  line-height: 1;
  font-weight: 700;
}

.home h3 {
  background: linear-gradient(28deg, #92a0e8 45%, 80%, #4259cd);
  color: transparent;
  background-clip: text;
  display: inline-block;
  font-size: 48px;
  margin: 0;
}
.home-content {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-left {
  width: 70%;
}

.home-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.resume-download-btn button {
  border: none;
  color: white;
  font-size: 18px;
  background: transparent;
}

.resume-download-btn {
  background: #5f76e7;
  padding: 15px;
  border-radius: 9999px;
  cursor: pointer;
  border: solid 2.5px transparent;
  transition: 100ms all;
}

.resume-download-btn:hover {
  background: transparent;
  border: solid 2.5px #5f76e7;
  transform: scale(1.05);
}

.home-photo {
  width: 274px;
  height: 274px;
  border-radius: 9999px;
  background-image: url("../../../public/photo.jpg");
  background-position: -106px -123px;
  background-size: 487px;
}

.home-photo-container {
  border: solid white 2px;
  padding: 8px;
  border-radius: 9999px;
}
.home-left p {
  font-size: 18px;
  width: 75%;
  color: #a1a1a1;
}

.home a {
  text-decoration: none;
  color: white;
}

@media (max-width: 769px) {
  .mobile-home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .home h2 {
    font-size: 48px;
  }

  .home h3 {
    font-size: 32px;
    margin-bottom: 2vh;
  }
  .home-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-left p {
    width: 100%;
    color: white;
    font-size: 16px;
    margin-bottom: 3vh;
  }
  .home-photo {
    width: 190px;
    height: 190px;
    background-position: -78px -81px;
    background-size: 350px;
  }

  .home-photo-container {
    margin-bottom: 3vh;
  }
  .home-content {
    display: none;
  }
  .resume-download-btn button {
    font-size: 16px;
  }
}
