.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-bottom: 20vh;
  background: #07090e;
  color: white;
  padding-top: 10vh;
}

.project {
  background: #0e1014ef;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 47vh;
  overflow: hidden;
  position: relative;
  transition: all 500ms;
}

.project h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.project-description {
  font-size: 16px;
}

.project-infos {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 30px;
  justify-content: space-evenly;
  gap: 10px;
  transition: all 500ms;
}

.project-img {
  width: 40%;
  transition: all 500ms;
  border-radius: 15px;
}

#project-img {
  background-image: url("../../../public/Slot-img.png");
  background-size: cover;
}

#project-img1 {
  background-image: url("../../../public/Kasa-img.png");
  background-size: cover;
}

#project-img2 {
  background-image: url("../../../public/photographer-portfolio-img.png");
  background-size: cover;
}

#project-img3 {
  background-image: url("../../../public/Furniro-img.png");
  background-size: cover;
}

#project-img4 {
  background-image: url("../../../public/Booki-img.png");
  background-size: cover;
}

.project-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project-skill-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: #324abd;
  border-radius: 8px;
  padding: 8px;
  font-size: 18px;
}

.projects h2 {
  margin: 0;
  font-size: 48px;
  margin-bottom: 80px;
}

.project-hover {
  display: none;
  transition: all 500ms;
}

.project:hover .project-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.project-link-btn {
  background: transparent;
  border: solid 2px white;
  border-radius: 20px;
  font-size: 18px;
  color: white;
  padding: 15px;
  cursor: pointer;
  transition: 100ms all;
}

.project-link-btn {
  text-decoration: none;
  color: white;
}

.project-link-btn:hover {
  background-color: white;
  color: black;
  font-weight: 600;
}
